public/dtds/collection.dtd

<!ELEMENT collection (title+, description, created_on, order, children?)>
<!ATTLIST collection id CDATA #IMPLIED
                     parent_id CDATA #IMPLIED
                     creator_id CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title lang CDATA #IMPLIED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT created_on (#PCDATA)>
<!ELEMENT order (#PCDATA)>
<!ELEMENT children (collection+)>