public/dtds/collections.dtd

<!ELEMENT collections (collection*)>
<!ELEMENT collection (title+, description, created_on, order)>
<!ATTLIST collection id CDATA #IMPLIED
                     parent_id CDATA #IMPLIED
                     creator_id CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title lang CDATA #IMPLIED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT created_on (#PCDATA)>
<!ELEMENT order (#PCDATA)>
