public/dtds/ethnicities.dtd

<!ELEMENT ethnicities (ethnicity*)>
<!ELEMENT ethnicity (title+, description, created_on, order)>
<!ATTLIST ethnicity id CDATA #IMPLIED
                     parent_id CDATA #IMPLIED
                     creator_id CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title lang CDATA #IMPLIED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT created_on (#PCDATA)>
<!ELEMENT order (#PCDATA)>