public/dtds/ethnicity.dtd

<!ELEMENT ethnicity (title+, description, created_on, order, children?)>
<!ATTLIST ethnicity id CDATA #IMPLIED
                     parent_id CDATA #IMPLIED
                     creator_id CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title lang CDATA #IMPLIED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT created_on (#PCDATA)>
<!ELEMENT order (#PCDATA)>
<!ELEMENT children (ethnicity+)>